@import '../css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900&display=swap&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}
ul {
    list-style-type: none;
}
body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.hightlight {
    font-weight: 600;
    color: #e30514;
}

/* HEADER */
.tablets,
.effective,
footer .banner,
header {
    background-color: #e0eff3;
    background-image: url(../assets/bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    height: 80px;
    border-bottom: 1px solid #fff;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.nav__item {
   display: flex;
   align-items: center;
   flex: 3;
}
.nav__item:nth-child(2) {
    flex: 3;
}
.nav__logo {
    justify-content: center;
    flex: 5;
}
.nav__item:nth-child(5) {
    flex: 3;
}
.nav__item:nth-child(6) {
    flex: 4;
}
.nav__logo_text {
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
}
.nav__logo_img {
    width: 40px;
    height: 40px;
    margin-left: 6px;
}
.nav__item_text {
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
}
.nav__item_icon {
    margin-right: 12px;
    height: 30px;
    width: auto;
}
/* END:HEADER */

/* BANNER */
.banner {
    padding-top: 30px;
}
.banner__right .banner__garant {
    display: none;
}
.banner__garant {
    display: flex;
    align-items: center;
}
.banner__garant img {
    width: 30px;
    height: 37px;
    margin-right: 10px;
}
.banner__garant-text {
    line-height: 1.3;
    font-size: 18px;
}
.banner__images {
    position: relative;
    height: 100%;
}
.banner__product {
    position: relative;
    z-index: 1;
    transform: translate(-20%, -10%);
}
.banner__people {
    position: absolute;
    bottom: 0;
    margin-left: -65%;
    z-index: 1;
}
.banner__left .banner__title {
    display: none;
}
.banner__title {
    color: #29215c;
    font-size: 36px;
}
.banner__right {
    position: relative;
    z-index: 1;
}
.banner__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner__subtitle {
    color: #e30514;
    font-size: 24px;
}
.title__second {
    margin-top: 17px;
}
.banner__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 18px 22px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 35px;
    box-shadow: 7px 7px 18px 6px rgba(163,175,180,1);
    z-index: 1;
}
.banner__form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-image: url(../assets/repeat-bg.png);
    z-index: -1;
    opacity: 0.2;
}
.banner__star {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}
.banner__form_title {
    font-size: 36px;
    color: #e30514;
    text-transform: uppercase;
    margin-bottom: 0;
}
.banner__form_subtitle {
    color: #29215c;
    font-size: 26px;
    line-height: 1;
}
.banner__form_time {
    font-size: 18px;
    color: #404040;
    margin-top: 17px;
    margin-bottom: 20px;
    line-height: 1;
}
.time {
    font-weight: 900;
    font-size: 28px;
}
.time__sec {
    color: #e30514;
}
.form__inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 23px;
}
.form__inputs input {
    height: 40px;
    width: calc(50% - 7.5px);
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
    padding: 0 16px;
    font-size: 18px;
    color: #404040;   
}
.important button,
.banner__form button {
    background-color: #e30514;
    height: 40px;
    padding: 0 85px;
    border-radius: 4px;
    border: 1px solid #e30514;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.banner__form button:hover {
    background-color: transparent;
    color: #e30514;
}
/* END:BANNER */

/* STEPS */
.steps {
    padding: 30px 0 80px;
}
.step {
    position: relative;
    border-radius: 4px;
    border: 1px solid #a9a8a8;
    overflow: hidden;
    width: 100%;
    height: 128px;
    padding: 0;
    margin-right: 0px;
}
.step:last-child {
    margin-right: 0;
}
.step::before,
.step::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a225d;
    z-index: -2;
}
.step::after {
    z-index: -1;
    background-color: #e30514;
    top: -2px;
    left: -12px;
    border-radius: 50%;
    height: 200%;
}
.step__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 38px 0px 81px;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #404040;
}
.step__wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 225%;
    background-color: #fff;
    z-index: -1;
    border-top-left-radius: 53%;
}
.step__num {
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 42px;
    font-weight: 600;
    z-index: 1;
    color: #ffffff;
    line-height: 1;
}
.step__title {
    text-transform: uppercase;
    font-size: 45px;
    line-height: 1;
    font-weight: 600;
}
.step__desc {
    font-size: 16px;
    line-height: 1.2;
}
/* END:STEPS */

/* CHECK-SELF */
.check-self {
    padding: 45px 0;
    background-color: #f9f9f9;
}
.check-self__title {
    font-weight: 300;
    font-size: 40px;
    color: #2a225d;
    text-align: center;
}
.check-self__subtitle {
    color: #e30514;
}
.check-self__card img {
    border-radius: 4px;
    box-shadow: 4px 5px 10px -2px rgba(188,188,188,1);
    margin-bottom: 20px;
    max-width: 1;
}
.check-self__card_desc {
    text-align: center;   
}
.check-self__cards {
    padding-top: 45px;
    padding-bottom: 30px;
}
.check-self__title-after {
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #e30514;
}
/* END:CHECK-SELF */

/* important */
.important {
    padding-bottom: 35px;
    overflow: hidden;
    color: #ffffff;
}
.important img {
    width: 280px;
    height: auto;
    position: absolute;
    top: -45px;
    left: 0;
    max-width: 100%;
}
.important__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.important__wrap {
    position: relative;
    padding: 25px 0;
    z-index: 3;
    background-image: url(../assets/blue-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.important__title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;
    line-height: 1;
}
.important__text {
    font-size: 18px;
}
.important__price {
    font-size: 18px;
    line-height: 1;
}
.important__price span {
    font-size: 30px;
    font-weight: 900;
}
.important button {
    font-weight: 600;
}
/* END:important */

/* illness */
.illness {
    padding: 45px 0 70px 0;
}
.illness__title {
    font-weight: 300;
    font-size: 50px;
    text-align: center;
}
.illness__title span {
    background-color: #e30514;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    padding: 5px 7px;
}
.illness__cards {
    padding-top: 50px;
}
.illness__card {
    text-align: center;
}
.illness__card img {
    border-radius: 8px;
    box-shadow: 4px 5px 10px -2px rgba(188,188,188,1);
    margin-bottom: 30px;
}
.illness__card_info h3 {
    font-size: 36px;
    color: #e30514;
}
.illness__card_info p {
    margin-bottom: 0;
    font-size: 18px;
}
/* END:illness */

/* effective */
.effective {
    padding: 60px 0 30px 0;
}
.effective__title {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}
.effective__title span {
    font-weight: 500;
    color: #ffffff;
    padding: 5px 7px;
    background-color: #e30514;
    border-radius: 8px;
    margin-bottom: 15px;
}
.effective__product {
    width: 100%;
    height: auto;
}
.effective__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.effective__item {
    display: flex;
    align-items: center;
    width: calc(50% - 15px);
    margin-bottom: 50px;
}
.effective__item:nth-child(3),
.effective__item:nth-child(4) {
    margin-bottom: 0;
}
.effective__item img {
    width: 130px;
    height: 135px;
    margin-right: 15px;
    border-radius: 8px;
    box-shadow: 4px 5px 10px -2px rgba(188,188,188,1);
}
.effective__item_info h3 {
    font-size: 36px;
    color: #e30514;
    margin-bottom: 0;
}
.effective__item_info p {
    margin-bottom: 0;
}
/* END:effective */

/* percent */
.percent {
    padding: 80px 0 60px 0;
    background-image: url(../assets/percent/bg.png);
    background-position: top right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.percent__title {
    font-weight: 300;
    text-align: center;
    margin-bottom: 70px;
}
.percent__title span {
    font-weight: 600;
    color: #e30514;
}
.percent__list_item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.percent__list_item:nth-child(4) {
    margin-bottom: 0;
}
.percent__list_item img {
    width: auto;
    height: 40px;
    margin-right: 20px;
}
.percent__list_text {
    margin-bottom: 0;
    font-size: 25px;
}
.percent__list_text span {
    font-weight: 600;
    color: #2a225d;
}
.percent__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.percent__button_text {
    font-size: 20px;
    white-space: nowrap;
}
.percent__button_text span {
    color: #e30514;
    font-weight: 900;
    font-size: 32px;
}
.percent__bottom button {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #e30514;
    border-radius: 8px;
    border: 1px solid #e30514;
    color: #ffffff;
    padding: 15px 0;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
/* END:percent */

/* tablets */
.tablets {
    padding: 35px 0 150px 0;
}
.tablets__title {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
}
.tablets__title span {
    color: #e30514;
    font-weight: 500;
}
.tablets__cards {
    padding-top: 45px;
    justify-content: space-between;
}
.tablets__card {
    display: flex;
    margin-bottom: 130px;
    max-height: 170px;
}
.tablets__card:last-child {
    margin-bottom: 0;
}
.tablets__card img {
    height: 170px;
    width: 168px;
    border-radius: 8px;
    box-shadow: 4px 5px 10px -2px rgba(188,188,188,1);
    margin: 0 25px;
}
.tablets__card_info h3 {
    text-transform: uppercase;
    color: #2a225d;
    font-size: 24px;
    line-height: 1;
}
.tablets__card_info p {
    line-height: 1;
    font-size: 18px;
}
.tablets__col-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tablets__col:first-child  .tablets__card {
    justify-content: flex-end;
    text-align: right;
}
/* END:tablets */

/* way */
.way {
    background-image: url(../assets/blue-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    color: #ffffff;
}
.way h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
}
.way__har {
    margin-top: 25px;
    margin-bottom: 35px;
    display: flex;
}
.way__caps {
    display: flex;
    align-items: center;
    flex: 1;
}
.way__caps img {
    height: 55px;
    margin-right: 20px;
}
.way__caps p {
    font-size: 16px;
    margin-bottom: 0;
}
.way__caps p span {
    display: block;
    line-height: 1;
    font-size: 40px;
}
.way__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.way__info p {
    font-size: 17px;
    font-weight: 300;
    margin: 0;
}
.way__info button {
    background-color: #e30514;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 68px;
    border-radius: 8px;
    border: 1px solid #e30514;
    margin-left: 50px;
}
.way__product {
    margin-top: -70px;
}
/* END:way */

/* experts */
.experts {
    padding: 80px 0 50px 0;
    font-size: 20px;
}
.experts h2 {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}
.expert {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.expert__info {
    display: flex;
    align-items: center;
}
.expert__info_text {
    margin-left: 15px;
    max-width: 310px;
    line-height: 1.2;
}
.expert__info_text span {
    text-transform: capitalize;
    color: #2a225d;
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
}
.expert > p {
    margin-top: 35px;
}
/* END:experts */

/* clinic */
.clinic {
    padding: 75px 0;
    background-color: #e0eff3;
    background-image: url(../assets/bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.clinic img {
    max-width: 100%;
}
.clinic h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 50px;
}
.clinic h2 span {
    color: #ffffff;
    font-weight: 600;
    padding: 5px 7px;
    border-radius: 8px;
    background-color: #e30514;
}
.clinic__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* END:clinic */

/* manufacturer */
.manufacturer {
    padding: 35px 0 65px 0;
    background-color: #e0eff3;
    background-image: url(../assets/bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.manufacturer h2 {
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
}
.manufacturer__img {
    margin: 40px 0 50px 0;
    width: 100%;
    height: auto;
    max-width: 100%;
}
.manufacturer__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.manufaturer__cards {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    flex: 1;
}
.manufaturer__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.manufaturer__card img {
    height: 40px;
    margin-bottom: 12px;
}
.manufaturer__card p {
    max-width: 140px;
    text-align: center;
}
.sert {
    max-width: 100%;
}
/* END:manufacturer */

/* results */
.results {
    padding: 65px 0 105px 0;
    background-image: url(../assets/percent/bg.png);
    background-position: top right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.results__header h2 {
    font-size: 42px;
    font-weight: 300;
    display: flex;
    align-items: center;
}
.results__header img:first-child {
    width: 140px;
    height: 120px;
}
.results__images {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.results__table {
    margin-top: 40px;
}
.results__table_item {
    position: relative;
    padding-left: 30px;
    height: 75px;
    align-items: center;
}
.results__stat_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #8b82c2;
    color: #ffffff;
}
.results__stat {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.results__table_item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #8b82c2;
    opacity: 0.2;
}
.results__table_item:nth-child(2n)::before {background: transparent;}
/* END:results */

/* reviews */
.reviews {
    padding: 75px 0;
}
.reviews h2 {
    font-weight: 300;
    font-size: 45px;
    text-align: center;
}
.reviews h2 span {
    padding: 5px 7px;
    background-color: #e30514;
    color: #ffffff;
    font-weight: 600;
    border-radius: 8px;
}
.reviews__wrap {
    margin-top: 30px;
}
.reviews__item {
    padding: 30px 45px 30px 45px;
    display: flex;
}
.reviews__item img {
    margin-right: 20px;
    height: 175px;
    width: 175px;
}
.reviews__item:nth-child(2) {
    background-color: #f9f9f9;
}
.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}
.review p {
    margin-bottom: 0;
}
.review img {
    width: 190px;
    height: auto;
} 
.review p span {
    color: #2a225d;
    font-weight: 600;
    font-size: 24px;
}
/* END:reviews */

/* danger */
.danger {
    padding: 15px 0 45px 0;
    background-image: url(../assets/blue-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
.danger h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 30px;
    line-height: 1;
}
.danger p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 1.3;
}
.danger button {
    background-color: #e30514;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 50px;
    border-radius: 8px;
    border: 1px solid #e30514;
}
.danger__product {
    position: absolute;
    bottom: -45px;
}
/* END:danger */

/* footer */
.footer__banner_title {
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #e30514;
    margin-top: 20px;
    margin-bottom: 60px;
}
.footer {
    padding: 45px 0 30px 0;
}
.footer__logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer__right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: rgba(64, 64, 64, 255);
}
/* END:footer */
.manufaturer__card-m,
.tablets-m,
.percent__product__m,
.header .banner__title {
    display: none;
}

@media (max-width: 1200px) {
    .nav__item_text {
        font-size: 12px;
    }
    .banner__product {
        max-width: 650px;
    }
    .important button {
        width: 100%;
        padding: 0;
    }
    .effective__item img {
        max-width: 50%;
        height: auto;
    }
    .way__product,
    .percent__product,
    .danger__product {
        max-width: 100%;
    }
    .tablets__card_info p {
        font-size: 16px;
    }
    .way__har {
        margin: 10px 0;
    }
    .way__caps p span {
        font-size: 26px;
    }
    .way__caps img {
        height: 40px;
    }
    .way__caps p {
        font-size: 14px;
    }
    .way__product {
        margin-top: 0;
    }
    .way__info p {
        font-size: 14px;
    }
    .danger__product {
        bottom: 0;
    }
}

@media (max-width: 992px) {
    .header {
        height: auto;
        border: 0;
    }
    .header .banner__title {
        display: block;
        text-align: center;
        font-size: 20px;
    }
    nav {
        flex-direction: column;
    }
    .nav__logo {
        margin-top: 20px;
    }
    .nav__logo_img {
        width: 50px;
        height: 50px;
    }
    .nav__logo_text {
        font-size: 40px;
    }
    .banner__left .banner__garant {
        display: none;
    }
    .banner__right .banner__garant {
        display: flex;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .banner__left .banner__title {
        display: block;
        text-align: center;
        line-height: 1;
        margin-bottom: 20px;
    }
    .banner__right .banner__title {
        display: none;
    }
    .banner__star {z-index: 1;max-width: 30%;transform: translate(0, -250%) rotate(-45deg);}
    .banner__form {
        margin-top: 0;
    }
    .title__second,
    .banner__subtitle {
        font-size: 22px;
        line-height: 1;
    }
    .banner__images {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner__people,
    .banner__product {
        max-width: 100%;
        transform: translateX(15%);
    }
    .banner__people {margin-left: 0%;max-height: 100%;transform: translateX(-20%);}
    .banner__form_time {
        text-align: center;
    }
    .banner__form_title {
        font-size: 24px;
    }
    .banner__form_subtitle {
        font-size: 18px;
        font-weight: 600;
    }
    .nav__item:not(.nav__logo) {
        display: none;
    }
    .step {
        margin-bottom: 25px;
        max-width: 100%;
    }
    .steps {
        padding-bottom: 0;
    }
    .check-self {
        padding-top: 25px;
    }
    .check-self__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
    .important {
        overflow: auto;
    }
    .important img {
        max-width: 100%;
        width: 375px;
        display: block;
        margin: 0 auto;
        position: relative;
        z-index: 3;
    }
    .important__price,
    .important__text,
    .important__title {
        text-align: center;
    }
    .important__text {
        margin-bottom: 30px;
    }
    .important__price {
        margin-bottom: 30px;
    }
    .illness {
        padding-bottom: 0;
    }
    .illness__title {
        font-size: 36px;
    }
    .illness__card {
        margin-bottom: 40px;
    }
    .effective__title {
        font-size: 26px;
    }
    .effective__item {
        width: 100%;
    }
    .effective__item {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .percent {
        padding-top: 50px;
        background-size: 100%;
        background-repeat: repeat;
    }
    .percent__title {
        margin-bottom: 30px;
        font-size: 26px;
    }
    .percent__list_item {
        align-items: flex-start;
    }
    .percent__list_text {
        line-height: 1.2;
    }
    .percent__marked {
        position: absolute;
        right: 0;
        bottom: 80px;
        z-index: -1;
    }
    .percent__bottom {
        position: relative;
        z-index: 2;
        flex-direction: column;
    }
    .percent__product {
        display: none;
    }
    .percent__product__m {
        display: block;
        margin-bottom: 50px;
    }
    .tablets__col-center {
        display: none;
    }
    .tablets__card {
        position: relative;
        flex-direction: column;
        max-height: fit-content;
        margin-bottom: 30px!important;
    }
    .tablets__card:first-child {
        align-items: flex-end;
    }
    .tablets__card:last-child {
        align-items: flex-start;
    }
    .tablets__card:last-child .tablets__card_info h3,
    .tablets__card:last-child .tablets__card_info p {
        text-align: left;
    }
    .tablets__card:first-child .tablets__card_info h3,
    .tablets__card:first-child .tablets__card_info p {
        text-align: right;
    }
    .tablets__col:first-child .tablets__card,
    .tablets__col:first-child .tablets__card {
        flex-direction: column-reverse;
    }
    .tablets__card img {
        margin: 0;
        margin-bottom: 20px;
        width: 137px;
        height: 137px;
    }
    .tablets {
        padding-bottom: 20px;
    }
    .tablets__card:first-child .tablets-m {
        position: absolute;
        top: 0;
        right: 120px;
        width: 164px;
        height: 109px;
        display: block;
        box-shadow: none;
        margin: 0;
        transform: translateY(20%);
    }
    .tablets__card:last-child .tablets-m {
        position: absolute;
        top: 0;
        left: 120px;
        width: 164px;
        height: 109px;
        display: block;
        box-shadow: none;
        margin: 0;
        transform: translateY(20%);
    }
    .way h2 {
        margin-top: 20px;
        font-size: 30px;
        text-align: center;
    }
    .way__har {
        flex-direction: column;
    }
    .way__caps {
        justify-content: center;
    }
    .way__caps:last-child {
        flex-direction: column;
    }
    .way__caps:last-child img {
        margin-right: 0;
        margin: 10px 0;
    }
    .way__caps p {
        text-align: center;
    }
    .way__caps p span {
        text-align: center;
    }
    .way__info {
        flex-direction: column;
    }
    .way__info p {
        font-size: 16px;
        min-width: 100%;
    }
    .way__info button {
        margin-top: 30px;
        margin-left: 0;
        width: 100%;
    }
    .expert__info > img {
        height: 107px;
        width: auto;
    }
    .expert__info {
        align-self: flex-start;
    }
    .expert > p {
        margin-top: 0;
    }
    .expert:first-child {
        margin-bottom: 35px;
    }
    .clinic {
        padding: 30px 0;
    }
    .clinic h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .clinic h2 span {
        padding: 0px 5px;
    }
    .clinic__right {
        margin-top: 30px;
    }
    .results {
        padding: 40px 0;
        background-size: contain;
        background-repeat: repeat;
    }
    .results__header h2 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 35px;
    }
    .results__header img:first-child,
    .results__header img {
        height: 40px;
        width: auto;
    }
    .results__header > .row {
        justify-content: flex-end;
    }
    .results__table_item {
        font-size: 14px;
        padding-left: 10px;
    }
    .results__table_item > div {
        padding: 0;
    }
    .reviews__item {
        padding: 24px 12px;
    }
    .reviews h2 {
        font-size: 30px;
    }
    .reviews h2 span {
        padding: 2px 5px;
    }
    .reviews__item > img {
        height: 83px;
        width: auto;
        margin-top: 85px;
    }
    .review {
        flex-direction: column-reverse;
    }
    .review p:last-child {
        font-size: 26px;
        width: calc(100% + 100px);
        margin-left: -103px;
    }
    .review img {
        margin-left: -103px;
    }
    .review p span {
        font-size: 28px;
    }
    .review img {
        margin-right: 0;
        height: 32px;
        width: 123px;
        margin-bottom: 5px;
    }
    .manufacturer h2 {
        font-size: 30px;
        text-align: center;
    }
    .manufacturer__img {
        margin: 20px 0;
    }
    .manufacturer__icon {
        width: calc(50% - 30px);
        margin: 0 auto;
    }
    .manufaturer__card-m {
        display: flex;
    }
    .manufaturer__card:first-child {
        display: none;
    }
    .manufacturer__icons {
        flex-wrap: wrap;
    }
    .manufaturer__cards {
        margin-left: 0;
    }
    .danger__product {
        margin: 0 auto;
        position: relative;
        margin-top: -100px;
        margin-bottom: 30px;
        display: block;
    }
    .manufacturer {
        padding-bottom: 105px;
    }
    .danger h2 {
        font-size: 32px;
        text-align: center;
    }
    .danger p {
        font-size: 18px;
    }
    .danger button {
        width: 100%;
    }
    .banner {
        overflow-x: hidden;
    }
    .sert {
    margin: 0 auto;
    display: block;
    }
    .clinic__right img {
        width: 290px;
        margin: 0 auto;
    }
    .way__product {
    margin: 0 auto;
    display: block;
    position: relative;
    }
    .footer .banner__garant {
        margin-bottom: 50px;
    }
    .footer__logo {
        justify-content: center;
    }
}

@media (max-width: 768px) {

}
@media (max-width: 480px) {

}